In [6]:
import pandas as pd
import math

In [4]:
df = pd.read_csv('submit.csv', names=['index', 'n'])

In [9]:
df

      index    n
0         0  4.0
1         1  2.0
2         2  2.0
3         3  3.0
4         4  2.0
...     ...  ...
3055   3055  1.0
3056   3056  0.0
3057   3057  0.0
3058   3058  0.0
3059   3059  0.0

[3060 rows x 2 columns]

In [15]:
for i in range(3060):
    df.iloc[i, 1] = int(round(df.iloc[i, 1]))

In [20]:
df = df.astype('int')

In [21]:
df

      index  n
0         0  4
1         1  2
2         2  2
3         3  3
4         4  2
...     ... ..
3055   3055  1
3056   3056  0
3057   3057  0
3058   3058  0
3059   3059  0

[3060 rows x 2 columns]

In [22]:
df.to_csv('submit2.csv', header=False, index=False)