In [2]:
import pandas as pd
import math

In [3]:
df = pd.read_csv('submit9.csv', names=['index', 'n'])

In [6]:
def MinusToZero(row):

    if row[1] < 0:
        row[1] = 0

    return row

df = df.apply(MinusToZero, axis=1)

In [7]:
df

       index         n
0        0.0  2.297077
1        1.0  0.167333
2        2.0  0.101905
3        3.0  3.540284
4        4.0  3.854888
...      ...       ...
3055  3055.0  0.983813
3056  3056.0  0.000000
3057  3057.0  0.000000
3058  3058.0  0.088171
3059  3059.0  0.000000

[3060 rows x 2 columns]

In [12]:
df.to_csv('submit10.csv', header=False, index=False)

In [10]:
def Round(row):
    
    row[1] = int(round(row[1]))

    return row

df = df.apply(Round, axis=1)

In [11]:
df

       index    n
0        0.0  2.0
1        1.0  0.0
2        2.0  0.0
3        3.0  4.0
4        4.0  4.0
...      ...  ...
3055  3055.0  1.0
3056  3056.0  0.0
3057  3057.0  0.0
3058  3058.0  0.0
3059  3059.0  0.0

[3060 rows x 2 columns]