In [30]:
import pandas as pd
from pycaret.regression import *

In [31]:
train = pd.read_csv("train_meanprice.csv")
test= pd.read_csv("test_meanprice.csv")

In [32]:
exp = setup(train, target="n", normalize=False, remove_outliers=False, categorical_features=["Month", "shopID", "itemID"], train_size=0.7, profile=True)

Warning: No categorical columns found. Calling 'transform' will only return input data.

Loading profile... Please Wait!
Profiler Failed. No output to show, continue with modeling.

In [33]:
lgbm = create_model("lightgbm")
lgbm_tuned = tune_model(lgbm)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [34]:
top4 = compare_models(sort='R2', n_select=4, fold=3)

Processing:   0%|          | 0/88 [00:00<?, ?it/s]

In [35]:
stack_model = stack_models(estimator_list=top4, meta_model=lgbm_tuned, fold=5, choose_better=True, optimize='R2')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [36]:
final_model = finalize_model(stack_model)

In [ ]:
predict = predict_model(final_model, data=test)

In [ ]:
predict

      Month  shopID   itemID   MeanPrice  prediction_label
0        10       0  1000001  363.369720          0.074309
1        10       1  1000001  363.369720         -0.027494
2        10       2  1000001  363.369720         -0.031810
3        10       3  1000001  363.369720          1.972000
4        10       4  1000001  363.369720          2.017525
...     ...     ...      ...         ...               ...
3055     10      13  3500001  416.063843         -0.005450
3056     10      14  3500001  416.063843         -0.079750
3057     10      15  3500001  416.063843         -0.006014
3058     10      16  3500001  416.063843         -0.088942
3059     10      17  3500001  416.063843          0.023073

[3060 rows x 5 columns]

In [ ]:
submit = predict["prediction_label"]

In [ ]:
submit

0       0.074309
1      -0.027494
2      -0.031810
3       1.972000
4       2.017525
          ...
3055   -0.005450
3056   -0.079750
3057   -0.006014
3058   -0.088942
3059    0.023073
Name: prediction_label, Length: 3060, dtype: float32

In [ ]:
submit.to_csv("submit6.csv", index=True, header=False)