In [2]:
import pandas as pd
from pycaret.regression import *

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

In [3]:
train = pd.read_csv("train_permonth.csv")
test= pd.read_csv("test_permonth.csv")

In [4]:
exp1 = setup(train, target="売上個数", normalize=True, categorical_features=["Months"], train_size=0.8, profile=True)

Loading profile... Please Wait!
Profiler Failed. No output to show, continue with modeling.

In [5]:
lgbm = create_model("lightgbm")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [7]:
top3 = compare_models(sort='RMSE', n_select=3, fold=3)

Processing:   0%|          | 0/87 [00:00<?, ?it/s]

In [8]:
stack_model = stack_models(estimator_list=top3, meta_model=lgbm, fold=5, choose_better=True, optimize='RMSE')

Initiated  . . . . . . . . . . . . . . . . . .              11:13:52
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [ ]:
final_model = finalize_model(stack_model)

In [ ]:
predict = predict_model(final_model, data=test)