In [2]:
import pandas as pd
from pycaret.regression import *

In [3]:
train = pd.read_csv("train_permonth.csv")
test= pd.read_csv("test_permonth.csv")

In [4]:
exp1 = setup(train, target="売上個数", normalize=True, categorical_features=["Months"], profile=True)

Loading profile... Please Wait!

In [5]:
catboost = create_model("catboost")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [9]:
catboost_tuned = tune_model(catboost, search_library="optuna", optimize="R2")

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

[I 2023-09-04 05:35:10,373] Searching the best hyperparameters using 47124 samples...
[I 2023-09-04 05:37:06,076] Finished hyperparemeter search!

In [10]:
lgbm = create_model("lightgbm")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [11]:
lgbm_tuned = tune_model(lgbm, search_library="optuna", optimize="R2")

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,05:39:04
Status,. . . . . . . . . . . . . . . . . .,Searching Hyperparameters
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

[I 2023-09-04 05:39:04,457] Searching the best hyperparameters using 47124 samples...

: