In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
train = pd.read_csv("train_meanprice.csv")
test= pd.read_csv("test_meanprice.csv")

In [3]:
train

       Month  shopID   itemID    MeanPrice  n
0          1       0  1000001   420.000000  6
1          1       0  1000002   250.000000  2
2          1       0  1000003   226.941896  0
3          1       0  1000004   120.000000  1
4          1       0  1000005   220.000000  8
...      ...     ...      ...          ... ..
67315     10      17  3300001  1775.952381  0
67316     10      17  3400001   850.000000  1
67317     10      17  3400002  1672.455521  0
67318     10      17  3400003  1190.000000  2
67319     10      17  3500001   416.063830  0

[67320 rows x 5 columns]

In [4]:
exp1 = setup(train, target="n", normalize=True, categorical_features=["Month", "shopID", "itemID"], train_size=0.8, profile=True)

Warning: No categorical columns found. Calling 'transform' will only return input data.

Loading profile... Please Wait!

In [5]:
lgbm = create_model("lightgbm")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [6]:
top3 = compare_models(sort='RMSE', n_select=3, fold=3)

Processing:   0%|          | 0/87 [00:00<?, ?it/s]

In [7]:
stack_model = stack_models(estimator_list=top3, meta_model=lgbm, fold=5, choose_better=True, optimize='RMSE')

Initiated  . . . . . . . . . . . . . . . . . .              02:39:36
Status     . . . . . . . . . . . . . . . . . .  Compiling Estimators
Estimator  . . . . . . . . . . . . . . . . . .    Stacking Regressor

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [ ]:
final_model = finalize_model(stack_model)

In [ ]:
predict = predict_model(final_model, data=test)

In [ ]:
predict

      Unnamed: 0  Months     商品ID  店舗ID  prediction_label
0              0      23  1000001     0          3.337314
1              1      23  1000001     1          3.271623
2              2      23  1000001     2          1.534162
3              3      23  1000001     3          3.508588
4              4      23  1000001     4          2.172939
...          ...     ...      ...   ...               ...
3055        3055      23  3500001    13          1.173527
3056        3056      23  3500001    14          0.192734
3057        3057      23  3500001    15          0.080703
3058        3058      23  3500001    16          0.120526
3059        3059      23  3500001    17          0.098688

[3060 rows x 5 columns]