In [6]:
import pandas as pd
from pycaret.regression import *

In [7]:
train = pd.read_csv("train_permonth.csv")
test= pd.read_csv("test2.csv")
test = test.drop(columns=test.columns[1])

In [8]:
exp1 = setup(train, target="売上個数", normalize=True, categorical_features=["Months", "商品ID", "店舗ID"], train_size=0.8, profile=True)

Warning: No categorical columns found. Calling 'transform' will only return input data.

Loading profile... Please Wait!
Profiler Failed. No output to show, continue with modeling.

In [9]:
lgbm = create_model("lightgbm")

Initiated  . . . . . . . . . . . . . . . . . .              14:24:22
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [10]:
top3 = compare_models(sort='RMSE', n_select=3, fold=3)

Processing:   0%|          | 0/87 [00:00<?, ?it/s]

In [11]:
stack_model = stack_models(estimator_list=top3, meta_model=lgbm, fold=5, choose_better=True, optimize='RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [12]:
final_model = finalize_model(stack_model)

In [13]:
predict = predict_model(final_model, data=test)

In [14]:
predict

      Unnamed: 0  Months     商品ID  店舗ID  prediction_label
0              0      23  1000001     0          3.337314
1              1      23  1000001     1          3.271623
2              2      23  1000001     2          1.534162
3              3      23  1000001     3          3.508588
4              4      23  1000001     4          2.172939
...          ...     ...      ...   ...               ...
3055        3055      23  3500001    13          1.173527
3056        3056      23  3500001    14          0.192734
3057        3057      23  3500001    15          0.080703
3058        3058      23  3500001    16          0.120526
3059        3059      23  3500001    17          0.098688

[3060 rows x 5 columns]

In [15]:
predict.to_csv('predict2.csv', index = False)

In [16]:
submit = predict.drop(columns=predict.columns[[1, 2, 3]])

In [17]:
submit

      Unnamed: 0  prediction_label
0              0          3.337314
1              1          3.271623
2              2          1.534162
3              3          3.508588
4              4          2.172939
...          ...               ...
3055        3055          1.173527
3056        3056          0.192734
3057        3057          0.080703
3058        3058          0.120526
3059        3059          0.098688

[3060 rows x 2 columns]

In [18]:
submit.to_csv('submit3.csv', header=False, index=False)