In [1]:
import pandas as pd
from pycaret.regression import *

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

In [2]:
train = pd.read_csv("train_meanprice.csv")
test= pd.read_csv("test_meanprice.csv")

In [3]:
train

       Month  shopID   itemID    MeanPrice  n
0          1       0  1000001   420.000000  6
1          1       0  1000002   250.000000  2
2          1       0  1000003   226.941896  0
3          1       0  1000004   120.000000  1
4          1       0  1000005   220.000000  8
...      ...     ...      ...          ... ..
67315     10      17  3300001  1775.952381  0
67316     10      17  3400001   850.000000  1
67317     10      17  3400002  1672.455521  0
67318     10      17  3400003  1190.000000  2
67319     10      17  3500001   416.063830  0

[67320 rows x 5 columns]

In [4]:
exp1 = setup(train, target="n", normalize=True, categorical_features=["Month", "shopID", "itemID"], train_size=0.8, profile=True)

Warning: No categorical columns found. Calling 'transform' will only return input data.

Loading profile... Please Wait!
Profiler Failed. No output to show, continue with modeling.

In [5]:
lgbm = create_model("lightgbm")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [6]:
top3 = compare_models(sort='RMSE', n_select=3, fold=3)

Processing:   0%|          | 0/87 [00:00<?, ?it/s]

In [7]:
stack_model = stack_models(estimator_list=top3, meta_model=lgbm, fold=5, choose_better=True, optimize='RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [8]:
final_model = finalize_model(stack_model)

In [9]:
predict = predict_model(final_model, data=test)

In [10]:
predict

      Month  shopID   itemID   MeanPrice  prediction_label
0        10       0  1000001  363.369720          0.003392
1        10       1  1000001  363.369720          0.003392
2        10       2  1000001  363.369720          0.003392
3        10       3  1000001  363.369720          2.775614
4        10       4  1000001  363.369720          1.970386
...     ...     ...      ...         ...               ...
3055     10      13  3500001  416.063843          0.967141
3056     10      14  3500001  416.063843          0.014349
3057     10      15  3500001  416.063843          0.014349
3058     10      16  3500001  416.063843          0.006374
3059     10      17  3500001  416.063843          0.028037

[3060 rows x 5 columns]

In [11]:
submit = predict["prediction_label"]

In [12]:
submit

0       0.003392
1       0.003392
2       0.003392
3       2.775614
4       1.970386
          ...
3055    0.967141
3056    0.014349
3057    0.014349
3058    0.006374
3059    0.028037
Name: prediction_label, Length: 3060, dtype: float64

In [13]:
submit.to_csv("submit4.csv", index=True, header=False)