In [92]:
import pandas as pd
import numpy as np
import ydata_profiling as yp
import datetime as dt
import sklearn
from tqdm.notebook import trange

In [93]:
df_train = pd.read_csv("sales_history.csv")
df_test = pd.read_csv("test_origin.csv", index_col=0)

In [94]:
df_test

          商品ID  店舗ID
index
0      1000001     0
1      1000001     1
2      1000001     2
3      1000001     3
4      1000001     4
...        ...   ...
3055   3500001    13
3056   3500001    14
3057   3500001    15
3058   3500001    16
3059   3500001    17

[3060 rows x 2 columns]

In [95]:
df_test

          商品ID  店舗ID
index
0      1000001     0
1      1000001     1
2      1000001     2
3      1000001     3
4      1000001     4
...        ...   ...
3055   3500001    13
3056   3500001    14
3057   3500001    15
3058   3500001    16
3059   3500001    17

[3060 rows x 2 columns]

In [96]:
# 予測する商品IDをテストデータから取得
items_name = df_test.iloc[:, 0].unique()

# 予測する商品IDが含まれる行を抽出
df_train = df_train[df_train.iloc[:, 2].isin(items_name)]

In [97]:
# 日付をDateTime型に変換
def ToDate(row):
    
    row.iloc[0] = dt.datetime.strptime(row.iloc[0], '%Y-%m-%d')
    row.iloc[0] = row.iloc[0].date()

    return row


df_train = df_train.apply(ToDate, axis=1)

In [98]:
# 売上個数をintに変換
df_train["売上個数"] = df_train["売上個数"].astype('int')

In [99]:
df_train

                 日付  店舗ID     商品ID  商品価格  売上個数
0        2018-01-01     9  1000001   420     1
1        2018-01-01     6  1000001   420     1
2        2018-01-01    10  1000001   420     1
364      2018-01-01     0  1200007   250     1
365      2018-01-01    15  1200007   130     1
...             ...   ...      ...   ...   ...
1119551  2019-10-31     0  3200026   850     1
1119553  2019-10-31    10  3300001  2040     1
1119562  2019-10-31    15  3400002  1440     1
1119563  2019-10-31    17  3400003  1190     1
1119568  2019-10-31     4  3500001   340     1

[48221 rows x 5 columns]

In [100]:
df_train.iloc[0, 0].month

1

In [101]:
# "YearMonth"列を追加
df_train.insert(1, "Months", 0)

t1 = dt.date(year=2018, month=1, day=1)
df_train.iloc[5000, 0]


def AddMonths(row):

    months = abs(row[0].year - t1.year)*12 + (row[0].month - t1.month)
    row.iloc[1] = int(months)
    return row

df_train = df_train.apply(AddMonths, axis=1)

In [102]:
df_train

                 日付  Months  店舗ID     商品ID  商品価格  売上個数
0        2018-01-01       0     9  1000001   420     1
1        2018-01-01       0     6  1000001   420     1
2        2018-01-01       0    10  1000001   420     1
364      2018-01-01       0     0  1200007   250     1
365      2018-01-01       0    15  1200007   130     1
...             ...     ...   ...      ...   ...   ...
1119551  2019-10-31      21     0  3200026   850     1
1119553  2019-10-31      21    10  3300001  2040     1
1119562  2019-10-31      21    15  3400002  1440     1
1119563  2019-10-31      21    17  3400003  1190     1
1119568  2019-10-31      21     4  3500001   340     1

[48221 rows x 6 columns]

In [109]:
# 月・店舗・商品ごとに売上個数を合算

list_months_shop_id_sum = []

for m in trange(22):
    for s in trange(18):
        for i in items_name:
            list = []
            sum = df_train.loc[(df_train["Months"]==m) & (df_train["店舗ID"]==s) & (df_train["商品ID"]==i), "売上個数"].sum()
            list.append(m)
            list.append(i)
            list.append(s)
            list.append(sum)
            list_months_shop_id_sum.append(list)

  0%|          | 0/22 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

In [111]:
list_months_shop_id_sum

[[0, 1000001, 0, 6],
 [0, 1000002, 0, 2],
 [0, 1000003, 0, 0],
 [0, 1000004, 0, 1],
 [0, 1000005, 0, 8],
 [0, 1000006, 0, 2],
 [0, 1000007, 0, 1],
 [0, 1000008, 0, 4],
 [0, 1000009, 0, 1],
 [0, 1000010, 0, 0],
 [0, 1000011, 0, 0],
 [0, 1002291, 0, 0],
 [0, 1002377, 0, 0],
 [0, 1002503, 0, 0],
 [0, 1002582, 0, 0],
 [0, 1100001, 0, 0],
 [0, 1100002, 0, 0],
 [0, 1200001, 0, 1],
 [0, 1200002, 0, 1],
 [0, 1200003, 0, 2],
 [0, 1200004, 0, 4],
 [0, 1200005, 0, 0],
 [0, 1200006, 0, 0],
 [0, 1200007, 0, 5],
 [0, 1200008, 0, 2],
 [0, 1200009, 0, 1],
 [0, 1200010, 0, 2],
 [0, 1200011, 0, 0],
 [0, 1200012, 0, 1],
 [0, 1200013, 0, 1],
 [0, 1200014, 0, 1],
 [0, 1200015, 0, 1],
 [0, 1200016, 0, 0],
 [0, 1200017, 0, 0],
 [0, 1200018, 0, 1],
 [0, 1200019, 0, 1],
 [0, 1200020, 0, 1],
 [0, 1200021, 0, 3],
 [0, 1200022, 0, 3],
 [0, 1200023, 0, 1],
 [0, 1200024, 0, 2],
 [0, 1200025, 0, 1],
 [0, 1200026, 0, 0],
 [0, 1200027, 0, 2],
 [0, 1200028, 0, 1],
 [0, 1200029, 0, 1],
 [0, 1200030, 0, 3],
 [0, 1200031, 0, 1],
 [0, 1200032, 0, 3],
 [0, 1200033, 0, 1],
 [0, 1200034, 0, 0],
 [0, 1200035, 0, 0],
 [0, 1200036, 0, 0],
 [0, 1200037, 0, 0],
 [0, 1200038, 0, 0],
 [0, 1200039, 0, 0],
 [0, 1200040, 0, 0],
 [0, 1201262, 0, 0],
 [0, 1201269, 0, 0],
 [0, 1300001, 0, 5],
 [0, 1300002, 0, 0],
 [0, 1400001, 0, 4],
 [0, 1400002, 0, 7],
 [0, 1400003, 0, 1],
 [0, 1400004, 0, 0],
 [0, 1400898, 0, 0],
 [0, 1500001, 0, 0],
 [0, 1600001, 0, 7],
 [0, 1600002, 0, 9],
 [0, 1600003, 0, 0],
 [0, 1600052, 0, 0],
 [0, 1600054, 0, 0],
 [0, 1700001, 0, 6],
 [0, 1700002, 0, 1],
 [0, 1700003, 0, 7],
 [0, 1700004, 0, 3],
 [0, 1700005, 0, 3],
 [0, 1700006, 0, 2],
 [0, 1700007, 0, 2],
 [0, 1700008, 0, 3],
 [0, 1700009, 0, 2],
 [0, 1700010, 0, 0],
 [0, 1700011, 0, 4],
 [0, 1700012, 0, 3],
 [0, 1700013, 0, 1],
 [0, 1700014, 0, 2],
 [0, 1700015, 0, 2],
 [0, 1700016, 0, 1],
 [0, 1700017, 0, 3],
 [0, 1700018, 0, 3],
 [0, 1700019, 0, 0],
 [0, 1800001, 0, 0],
 [0, 1800002, 0, 0],
 [0, 1800003, 0, 0],
 [0, 1800004, 0, 0],
 [0, 1800179, 0, 0],
 [0, 1900001, 0, 0],
 [0, 1900002, 0, 0],
 [0, 2000001, 0, 1],
 [0, 2000002, 0, 0],
 [0, 2000162, 0, 0],
 [0, 2100001, 0, 1],
 [0, 2100002, 0, 2],
 [0, 2100003, 0, 2],
 [0, 2100004, 0, 0],
 [0, 2100005, 0, 0],
 [0, 2100006, 0, 0],
 [0, 2100152, 0, 0],
 [0, 2200001, 0, 0],
 [0, 2300001, 0, 1],
 [0, 2300002, 0, 6],
 [0, 2300003, 0, 0],
 [0, 2300004, 0, 0],
 [0, 2400001, 0, 0],
 [0, 2400002, 0, 1],
 [0, 2400003, 0, 6],
 [0, 2400004, 0, 2],
 [0, 2400005, 0, 1],
 [0, 2400006, 0, 4],
 [0, 2400007, 0, 2],
 [0, 2400008, 0, 0],
 [0, 2400009, 0, 3],
 [0, 2400010, 0, 2],
 [0, 2400011, 0, 0],
 [0, 2400012, 0, 0],
 [0, 2400013, 0, 0],
 [0, 2400014, 0, 0],
 [0, 2400088, 0, 0],
 [0, 2500001, 0, 2],
 [0, 2500002, 0, 2],
 [0, 2500003, 0, 3],
 [0, 2500004, 0, 2],
 [0, 2500005, 0, 0],
 [0, 2500006, 0, 0],
 [0, 2500007, 0, 0],
 [0, 2500229, 0, 0],
 [0, 2500230, 0, 0],
 [0, 2600001, 0, 4],
 [0, 2600002, 0, 1],
 [0, 2600003, 0, 1],
 [0, 2600004, 0, 1],
 [0, 2600005, 0, 7],
 [0, 2600006, 0, 0],
 [0, 2700001, 0, 0],
 [0, 2700002, 0, 0],
 [0, 2700003, 0, 1],
 [0, 2700004, 0, 0],
 [0, 2700005, 0, 1],
 [0, 2700006, 0, 0],
 [0, 2700007, 0, 3],
 [0, 2700008, 0, 1],
 [0, 2700009, 0, 0],
 [0, 2800001, 0, 22],
 [0, 2800090, 0, 0],
 [0, 2800101, 0, 0],
 [0, 2800103, 0, 0],
 [0, 2900001, 0, 0],
 [0, 2900002, 0, 0],
 [0, 2900003, 0, 0],
 [0, 2900075, 0, 0],
 [0, 3000001, 0, 0],
 [0, 3000002, 0, 0],
 [0, 3100001, 0, 0],
 [0, 3200001, 0, 2],
 [0, 3200026, 0, 0],
 [0, 3300001, 0, 4],
 [0, 3400001, 0, 6],
 [0, 3400002, 0, 4],
 [0, 3400003, 0, 5],
 [0, 3500001, 0, 0],
 [0, 1000001, 1, 2],
 [0, 1000002, 1, 3],
 [0, 1000003, 1, 0],
 [0, 1000004, 1, 2],
 [0, 1000005, 1, 0],
 [0, 1000006, 1, 0],
 [0, 1000007, 1, 3],
 [0, 1000008, 1, 3],
 [0, 1000009, 1, 0],
 [0, 1000010, 1, 0],
 [0, 1000011, 1, 0],
 [0, 1002291, 1, 0],
 [0, 1002377, 1, 0],
 [0, 1002503, 1, 0],
 [0, 1002582, 1, 0],
 [0, 1100001, 1, 2],
 [0, 1100002, 1, 0],
 [0, 1200001, 1, 1],
 [0, 1200002, 1, 1],
 [0, 1200003, 1, 1],
 [0, 1200004, 1, 1],
 [0, 1200005, 1, 0],
 [0, 1200006, 1, 1],
 [0, 1200007, 1, 1],
 [0, 1200008, 1, 2],
 [0, 1200009, 1, 2],
 [0, 1200010, 1, 0],
 [0, 1200011, 1, 0],
 [0, 1200012, 1, 0],
 [0, 1200013, 1, 0],
 [0, 1200014, 1, 0],
 [0, 1200015, 1, 0],
 [0, 1200016, 1, 1],
 [0, 1200017, 1, 1],
 [0, 1200018, 1, 1],
 [0, 1200019, 1, 1],
 [0, 1200020, 1, 2],
 [0, 1200021, 1, 1],
 [0, 1200022, 1, 3],
 [0, 1200023, 1, 1],
 [0, 1200024, 1, 1],
 [0, 1200025, 1, 2],
 [0, 1200026, 1, 0],
 [0, 1200027, 1, 0],
 [0, 1200028, 1, 0],
 [0, 1200029, 1, 0],
 [0, 1200030, 1, 0],
 [0, 1200031, 1, 0],
 [0, 1200032, 1, 0],
 [0, 1200033, 1, 1],
 [0, 1200034, 1, 0],
 [0, 1200035, 1, 0],
 [0, 1200036, 1, 0],
 [0, 1200037, 1, 0],
 [0, 1200038, 1, 0],
 [0, 1200039, 1, 0],
 [0, 1200040, 1, 0],
 [0, 1201262, 1, 0],
 [0, 1201269, 1, 0],
 [0, 1300001, 1, 1],
 [0, 1300002, 1, 0],
 [0, 1400001, 1, 0],
 [0, 1400002, 1, 3],
 [0, 1400003, 1, 0],
 [0, 1400004, 1, 0],
 [0, 1400898, 1, 0],
 [0, 1500001, 1, 0],
 [0, 1600001, 1, 2],
 [0, 1600002, 1, 2],
 [0, 1600003, 1, 0],
 [0, 1600052, 1, 0],
 [0, 1600054, 1, 0],
 [0, 1700001, 1, 2],
 [0, 1700002, 1, 1],
 [0, 1700003, 1, 0],
 [0, 1700004, 1, 1],
 [0, 1700005, 1, 0],
 [0, 1700006, 1, 0],
 [0, 1700007, 1, 1],
 [0, 1700008, 1, 1],
 [0, 1700009, 1, 0],
 [0, 1700010, 1, 0],
 [0, 1700011, 1, 0],
 [0, 1700012, 1, 0],
 [0, 1700013, 1, 0],
 [0, 1700014, 1, 0],
 [0, 1700015, 1, 1],
 [0, 1700016, 1, 0],
 [0, 1700017, 1, 0],
 [0, 1700018, 1, 0],
 [0, 1700019, 1, 0],
 [0, 1800001, 1, 0],
 [0, 1800002, 1, 0],
 [0, 1800003, 1, 0],
 [0, 1800004, 1, 0],
 [0, 1800179, 1, 0],
 [0, 1900001, 1, 0],
 [0, 1900002, 1, 0],
 [0, 2000001, 1, 1],
 [0, 2000002, 1, 0],
 [0, 2000162, 1, 0],
 [0, 2100001, 1, 1],
 [0, 2100002, 1, 0],
 [0, 2100003, 1, 1],
 [0, 2100004, 1, 0],
 [0, 2100005, 1, 0],
 [0, 2100006, 1, 0],
 [0, 2100152, 1, 0],
 [0, 2200001, 1, 0],
 [0, 2300001, 1, 0],
 [0, 2300002, 1, 0],
 [0, 2300003, 1, 0],
 [0, 2300004, 1, 0],
 [0, 2400001, 1, 0],
 [0, 2400002, 1, 6],
 [0, 2400003, 1, 3],
 [0, 2400004, 1, 0],
 [0, 2400005, 1, 1],
 [0, 2400006, 1, 7],
 [0, 2400007, 1, 0],
 [0, 2400008, 1, 0],
 [0, 2400009, 1, 2],
 [0, 2400010, 1, 0],
 [0, 2400011, 1, 0],
 [0, 2400012, 1, 0],
 [0, 2400013, 1, 0],
 [0, 2400014, 1, 0],
 [0, 2400088, 1, 0],
 [0, 2500001, 1, 0],
 [0, 2500002, 1, 0],
 [0, 2500003, 1, 0],
 [0, 2500004, 1, 1],
 [0, 2500005, 1, 0],
 [0, 2500006, 1, 0],
 [0, 2500007, 1, 0],
 [0, 2500229, 1, 0],
 [0, 2500230, 1, 0],
 [0, 2600001, 1, 0],
 [0, 2600002, 1, 0],
 [0, 2600003, 1, 0],
 [0, 2600004, 1, 4],
 [0, 2600005, 1, 1],
 [0, 2600006, 1, 0],
 [0, 2700001, 1, 0],
 [0, 2700002, 1, 0],
 [0, 2700003, 1, 0],
 [0, 2700004, 1, 0],
 [0, 2700005, 1, 0],
 [0, 2700006, 1, 0],
 [0, 2700007, 1, 0],
 [0, 2700008, 1, 0],
 [0, 2700009, 1, 0],
 [0, 2800001, 1, 1],
 [0, 2800090, 1, 0],
 [0, 2800101, 1, 0],
 [0, 2800103, 1, 0],
 [0, 2900001, 1, 0],
 [0, 2900002, 1, 0],
 [0, 2900003, 1, 0],
 [0, 2900075, 1, 0],
 [0, 3000001, 1, 0],
 [0, 3000002, 1, 0],
 [0, 3100001, 1, 0],
 [0, 3200001, 1, 0],
 [0, 3200026, 1, 0],
 [0, 3300001, 1, 0],
 [0, 3400001, 1, 0],
 [0, 3400002, 1, 5],
 [0, 3400003, 1, 2],
 [0, 3500001, 1, 0],
 [0, 1000001, 2, 1],
 [0, 1000002, 2, 1],
 [0, 1000003, 2, 1],
 [0, 1000004, 2, 0],
 [0, 1000005, 2, 1],
 [0, 1000006, 2, 0],
 [0, 1000007, 2, 0],
 [0, 1000008, 2, 1],
 [0, 1000009, 2, 0],
 [0, 1000010, 2, 0],
 [0, 1000011, 2, 0],
 [0, 1002291, 2, 0],
 [0, 1002377, 2, 0],
 [0, 1002503, 2, 0],
 [0, 1002582, 2, 0],
 [0, 1100001, 2, 1],
 [0, 1100002, 2, 0],
 [0, 1200001, 2, 0],
 [0, 1200002, 2, 0],
 [0, 1200003, 2, 1],
 [0, 1200004, 2, 1],
 [0, 1200005, 2, 0],
 [0, 1200006, 2, 0],
 [0, 1200007, 2, 1],
 [0, 1200008, 2, 0],
 [0, 1200009, 2, 1],
 [0, 1200010, 2, 0],
 [0, 1200011, 2, 0],
 [0, 1200012, 2, 1],
 [0, 1200013, 2, 2],
 [0, 1200014, 2, 0],
 [0, 1200015, 2, 0],
 [0, 1200016, 2, 1],
 [0, 1200017, 2, 2],
 [0, 1200018, 2, 0],
 [0, 1200019, 2, 1],
 [0, 1200020, 2, 0],
 [0, 1200021, 2, 2],
 [0, 1200022, 2, 0],
 [0, 1200023, 2, 1],
 [0, 1200024, 2, 3],
 [0, 1200025, 2, 0],
 [0, 1200026, 2, 1],
 [0, 1200027, 2, 0],
 [0, 1200028, 2, 0],
 [0, 1200029, 2, 1],
 [0, 1200030, 2, 2],
 [0, 1200031, 2, 0],
 [0, 1200032, 2, 1],
 [0, 1200033, 2, 0],
 [0, 1200034, 2, 0],
 [0, 1200035, 2, 0],
 [0, 1200036, 2, 0],
 [0, 1200037, 2, 0],
 [0, 1200038, 2, 0],
 [0, 1200039, 2, 0],
 [0, 1200040, 2, 0],
 [0, 1201262, 2, 0],
 [0, 1201269, 2, 0],
 [0, 1300001, 2, 1],
 [0, 1300002, 2, 0],
 [0, 1400001, 2, 1],
 [0, 1400002, 2, 4],
 [0, 1400003, 2, 1],
 [0, 1400004, 2, 0],
 [0, 1400898, 2, 0],
 [0, 1500001, 2, 0],
 [0, 1600001, 2, 0],
 [0, 1600002, 2, 2],
 [0, 1600003, 2, 0],
 [0, 1600052, 2, 0],
 [0, 1600054, 2, 0],
 [0, 1700001, 2, 3],
 [0, 1700002, 2, 0],
 [0, 1700003, 2, 1],
 [0, 1700004, 2, 0],
 [0, 1700005, 2, 0],
 [0, 1700006, 2, 0],
 [0, 1700007, 2, 0],
 [0, 1700008, 2, 0],
 [0, 1700009, 2, 0],
 [0, 1700010, 2, 0],
 [0, 1700011, 2, 0],
 [0, 1700012, 2, 1],
 [0, 1700013, 2, 1],
 [0, 1700014, 2, 0],
 [0, 1700015, 2, 1],
 [0, 1700016, 2, 0],
 [0, 1700017, 2, 1],
 [0, 1700018, 2, 0],
 [0, 1700019, 2, 0],
 [0, 1800001, 2, 0],
 [0, 1800002, 2, 0],
 [0, 1800003, 2, 0],
 [0, 1800004, 2, 0],
 [0, 1800179, 2, 0],
 [0, 1900001, 2, 0],
 [0, 1900002, 2, 0],
 [0, 2000001, 2, 0],
 [0, 2000002, 2, 0],
 [0, 2000162, 2, 0],
 [0, 2100001, 2, 1],
 [0, 2100002, 2, 0],
 [0, 2100003, 2, 2],
 [0, 2100004, 2, 0],
 [0, 2100005, 2, 0],
 [0, 2100006, 2, 0],
 [0, 2100152, 2, 0],
 [0, 2200001, 2, 0],
 [0, 2300001, 2, 0],
 [0, 2300002, 2, 1],
 [0, 2300003, 2, 0],
 [0, 2300004, 2, 0],
 [0, 2400001, 2, 0],
 [0, 2400002, 2, 1],
 [0, 2400003, 2, 3],
 [0, 2400004, 2, 3],
 [0, 2400005, 2, 1],
 [0, 2400006, 2, 6],
 [0, 2400007, 2, 2],
 [0, 2400008, 2, 1],
 [0, 2400009, 2, 0],
 [0, 2400010, 2, 0],
 [0, 2400011, 2, 0],
 [0, 2400012, 2, 0],
 [0, 2400013, 2, 0],
 [0, 2400014, 2, 0],
 [0, 2400088, 2, 0],
 [0, 2500001, 2, 0],
 [0, 2500002, 2, 0],
 [0, 2500003, 2, 1],
 [0, 2500004, 2, 2],
 [0, 2500005, 2, 0],
 [0, 2500006, 2, 0],
 [0, 2500007, 2, 0],
 [0, 2500229, 2, 0],
 [0, 2500230, 2, 0],
 [0, 2600001, 2, 0],
 [0, 2600002, 2, 1],
 [0, 2600003, 2, 1],
 [0, 2600004, 2, 0],
 [0, 2600005, 2, 1],
 [0, 2600006, 2, 0],
 [0, 2700001, 2, 0],
 [0, 2700002, 2, 0],
 [0, 2700003, 2, 1],
 [0, 2700004, 2, 0],
 [0, 2700005, 2, 0],
 [0, 2700006, 2, 0],
 [0, 2700007, 2, 2],
 [0, 2700008, 2, 0],
 [0, 2700009, 2, 0],
 [0, 2800001, 2, 4],
 [0, 2800090, 2, 0],
 [0, 2800101, 2, 0],
 [0, 2800103, 2, 0],
 [0, 2900001, 2, 0],
 [0, 2900002, 2, 0],
 [0, 2900003, 2, 0],
 [0, 2900075, 2, 0],
 [0, 3000001, 2, 0],
 [0, 3000002, 2, 0],
 [0, 3100001, 2, 0],
 [0, 3200001, 2, 0],
 [0, 3200026, 2, 0],
 [0, 3300001, 2, 0],
 [0, 3400001, 2, 0],
 [0, 3400002, 2, 1],
 [0, 3400003, 2, 1],
 [0, 3500001, 2, 0],
 [0, 1000001, 3, 2],
 [0, 1000002, 3, 0],
 [0, 1000003, 3, 0],
 [0, 1000004, 3, 0],
 [0, 1000005, 3, 0],
 [0, 1000006, 3, 1],
 [0, 1000007, 3, 1],
 [0, 1000008, 3, 1],
 [0, 1000009, 3, 0],
 [0, 1000010, 3, 0],
 [0, 1000011, 3, 0],
 [0, 1002291, 3, 0],
 [0, 1002377, 3, 0],
 [0, 1002503, 3, 0],
 [0, 1002582, 3, 0],
 [0, 1100001, 3, 0],
 [0, 1100002, 3, 0],
 [0, 1200001, 3, 2],
 [0, 1200002, 3, 0],
 [0, 1200003, 3, 0],
 [0, 1200004, 3, 0],
 [0, 1200005, 3, 0],
 [0, 1200006, 3, 0],
 [0, 1200007, 3, 0],
 [0, 1200008, 3, 0],
 [0, 1200009, 3, 2],
 [0, 1200010, 3, 0],
 [0, 1200011, 3, 0],
 [0, 1200012, 3, 0],
 [0, 1200013, 3, 0],
 [0, 1200014, 3, 0],
 [0, 1200015, 3, 0],
 [0, 1200016, 3, 0],
 [0, 1200017, 3, 0],
 [0, 1200018, 3, 0],
 [0, 1200019, 3, 0],
 [0, 1200020, 3, 0],
 [0, 1200021, 3, 0],
 [0, 1200022, 3, 0],
 [0, 1200023, 3, 0],
 [0, 1200024, 3, 0],
 [0, 1200025, 3, 2],
 [0, 1200026, 3, 0],
 [0, 1200027, 3, 0],
 [0, 1200028, 3, 0],
 [0, 1200029, 3, 0],
 [0, 1200030, 3, 0],
 [0, 1200031, 3, 0],
 [0, 1200032, 3, 0],
 [0, 1200033, 3, 0],
 [0, 1200034, 3, 0],
 [0, 1200035, 3, 0],
 [0, 1200036, 3, 0],
 [0, 1200037, 3, 0],
 [0, 1200038, 3, 0],
 [0, 1200039, 3, 0],
 [0, 1200040, 3, 0],
 [0, 1201262, 3, 0],
 [0, 1201269, 3, 0],
 [0, 1300001, 3, 0],
 [0, 1300002, 3, 0],
 [0, 1400001, 3, 0],
 [0, 1400002, 3, 1],
 [0, 1400003, 3, 0],
 [0, 1400004, 3, 0],
 [0, 1400898, 3, 0],
 [0, 1500001, 3, 0],
 [0, 1600001, 3, 1],
 [0, 1600002, 3, 2],
 [0, 1600003, 3, 0],
 [0, 1600052, 3, 0],
 [0, 1600054, 3, 0],
 [0, 1700001, 3, 1],
 [0, 1700002, 3, 0],
 [0, 1700003, 3, 0],
 [0, 1700004, 3, 1],
 [0, 1700005, 3, 2],
 [0, 1700006, 3, 0],
 [0, 1700007, 3, 0],
 [0, 1700008, 3, 1],
 [0, 1700009, 3, 1],
 [0, 1700010, 3, 1],
 [0, 1700011, 3, 1],
 [0, 1700012, 3, 1],
 [0, 1700013, 3, 2],
 [0, 1700014, 3, 0],
 [0, 1700015, 3, 0],
 [0, 1700016, 3, 0],
 [0, 1700017, 3, 0],
 [0, 1700018, 3, 0],
 [0, 1700019, 3, 0],
 [0, 1800001, 3, 0],
 [0, 1800002, 3, 0],
 [0, 1800003, 3, 0],
 [0, 1800004, 3, 0],
 [0, 1800179, 3, 0],
 [0, 1900001, 3, 0],
 [0, 1900002, 3, 0],
 [0, 2000001, 3, 0],
 [0, 2000002, 3, 0],
 [0, 2000162, 3, 0],
 [0, 2100001, 3, 0],
 [0, 2100002, 3, 1],
 [0, 2100003, 3, 1],
 [0, 2100004, 3, 1],
 [0, 2100005, 3, 0],
 [0, 2100006, 3, 0],
 [0, 2100152, 3, 0],
 [0, 2200001, 3, 0],
 [0, 2300001, 3, 0],
 [0, 2300002, 3, 0],
 [0, 2300003, 3, 0],
 [0, 2300004, 3, 0],
 [0, 2400001, 3, 0],
 [0, 2400002, 3, 0],
 [0, 2400003, 3, 0],
 [0, 2400004, 3, 0],
 [0, 2400005, 3, 0],
 [0, 2400006, 3, 0],
 [0, 2400007, 3, 2],
 [0, 2400008, 3, 0],
 [0, 2400009, 3, 0],
 [0, 2400010, 3, 0],
 [0, 2400011, 3, 0],
 [0, 2400012, 3, 0],
 [0, 2400013, 3, 0],
 [0, 2400014, 3, 0],
 [0, 2400088, 3, 0],
 [0, 2500001, 3, 0],
 [0, 2500002, 3, 0],
 [0, 2500003, 3, 0],
 [0, 2500004, 3, 0],
 [0, 2500005, 3, 0],
 [0, 2500006, 3, 0],
 [0, 2500007, 3, 0],
 [0, 2500229, 3, 0],
 [0, 2500230, 3, 0],
 [0, 2600001, 3, 0],
 [0, 2600002, 3, 1],
 [0, 2600003, 3, 0],
 [0, 2600004, 3, 4],
 [0, 2600005, 3, 1],
 [0, 2600006, 3, 0],
 [0, 2700001, 3, 0],
 [0, 2700002, 3, 0],
 [0, 2700003, 3, 1],
 [0, 2700004, 3, 1],
 [0, 2700005, 3, 0],
 [0, 2700006, 3, 0],
 [0, 2700007, 3, 0],
 [0, 2700008, 3, 0],
 [0, 2700009, 3, 0],
 [0, 2800001, 3, 3],
 [0, 2800090, 3, 0],
 [0, 2800101, 3, 0],
 [0, 2800103, 3, 0],
 [0, 2900001, 3, 0],
 [0, 2900002, 3, 0],
 [0, 2900003, 3, 0],
 [0, 2900075, 3, 0],
 [0, 3000001, 3, 0],
 [0, 3000002, 3, 0],
 [0, 3100001, 3, 0],
 [0, 3200001, 3, 0],
 [0, 3200026, 3, 0],
 [0, 3300001, 3, 0],
 [0, 3400001, 3, 1],
 [0, 3400002, 3, 1],
 [0, 3400003, 3, 1],
 [0, 3500001, 3, 1],
 [0, 1000001, 4, 0],
 [0, 1000002, 4, 0],
 [0, 1000003, 4, 0],
 [0, 1000004, 4, 1],
 [0, 1000005, 4, 0],
 [0, 1000006, 4, 0],
 [0, 1000007, 4, 1],
 [0, 1000008, 4, 0],
 [0, 1000009, 4, 0],
 [0, 1000010, 4, 0],
 [0, 1000011, 4, 0],
 [0, 1002291, 4, 0],
 [0, 1002377, 4, 0],
 [0, 1002503, 4, 0],
 [0, 1002582, 4, 0],
 [0, 1100001, 4, 0],
 [0, 1100002, 4, 0],
 [0, 1200001, 4, 0],
 [0, 1200002, 4, 1],
 [0, 1200003, 4, 0],
 [0, 1200004, 4, 0],
 [0, 1200005, 4, 0],
 [0, 1200006, 4, 0],
 [0, 1200007, 4, 1],
 [0, 1200008, 4, 0],
 [0, 1200009, 4, 0],
 [0, 1200010, 4, 0],
 [0, 1200011, 4, 0],
 [0, 1200012, 4, 0],
 [0, 1200013, 4, 0],
 [0, 1200014, 4, 0],
 [0, 1200015, 4, 1],
 [0, 1200016, 4, 0],
 [0, 1200017, 4, 0],
 [0, 1200018, 4, 0],
 [0, 1200019, 4, 0],
 [0, 1200020, 4, 0],
 [0, 1200021, 4, 0],
 [0, 1200022, 4, 0],
 [0, 1200023, 4, 1],
 [0, 1200024, 4, 0],
 [0, 1200025, 4, 0],
 [0, 1200026, 4, 1],
 [0, 1200027, 4, 0],
 [0, 1200028, 4, 0],
 [0, 1200029, 4, 0],
 [0, 1200030, 4, 0],
 [0, 1200031, 4, 0],
 [0, 1200032, 4, 0],
 [0, 1200033, 4, 0],
 [0, 1200034, 4, 0],
 [0, 1200035, 4, 0],
 [0, 1200036, 4, 0],
 [0, 1200037, 4, 0],
 [0, 1200038, 4, 0],
 [0, 1200039, 4, 0],
 [0, 1200040, 4, 0],
 [0, 1201262, 4, 0],
 [0, 1201269, 4, 0],
 [0, 1300001, 4, 0],
 [0, 1300002, 4, 0],
 [0, 1400001, 4, 0],
 [0, 1400002, 4, 0],
 [0, 1400003, 4, 0],
 [0, 1400004, 4, 0],
 [0, 1400898, 4, 0],
 [0, 1500001, 4, 0],
 [0, 1600001, 4, 0],
 [0, 1600002, 4, 0],
 [0, 1600003, 4, 0],
 [0, 1600052, 4, 0],
 [0, 1600054, 4, 0],
 [0, 1700001, 4, 0],
 [0, 1700002, 4, 1],
 [0, 1700003, 4, 0],
 [0, 1700004, 4, 0],
 [0, 1700005, 4, 1],
 [0, 1700006, 4, 2],
 [0, 1700007, 4, 0],
 [0, 1700008, 4, 0],
 [0, 1700009, 4, 0],
 [0, 1700010, 4, 0],
 [0, 1700011, 4, 0],
 [0, 1700012, 4, 0],
 [0, 1700013, 4, 0],
 [0, 1700014, 4, 0],
 [0, 1700015, 4, 1],
 [0, 1700016, 4, 1],
 [0, 1700017, 4, 0],
 [0, 1700018, 4, 0],
 [0, 1700019, 4, 0],
 [0, 1800001, 4, 0],
 [0, 1800002, 4, 0],
 [0, 1800003, 4, 0],
 [0, 1800004, 4, 0],
 [0, 1800179, 4, 0],
 [0, 1900001, 4, 0],
 [0, 1900002, 4, 0],
 [0, 2000001, 4, 1],
 [0, 2000002, 4, 0],
 [0, 2000162, 4, 0],
 [0, 2100001, 4, 0],
 [0, 2100002, 4, 2],
 [0, 2100003, 4, 2],
 [0, 2100004, 4, 0],
 [0, 2100005, 4, 0],
 [0, 2100006, 4, 0],
 [0, 2100152, 4, 0],
 [0, 2200001, 4, 0],
 [0, 2300001, 4, 0],
 [0, 2300002, 4, 1],
 [0, 2300003, 4, 0],
 [0, 2300004, 4, 0],
 [0, 2400001, 4, 0],
 [0, 2400002, 4, 0],
 [0, 2400003, 4, 0],
 [0, 2400004, 4, 0],
 [0, 2400005, 4, 0],
 [0, 2400006, 4, 0],
 [0, 2400007, 4, 0],
 [0, 2400008, 4, 0],
 [0, 2400009, 4, 0],
 [0, 2400010, 4, 0],
 [0, 2400011, 4, 0],
 [0, 2400012, 4, 0],
 [0, 2400013, 4, 0],
 [0, 2400014, 4, 0],
 [0, 2400088, 4, 0],
 [0, 2500001, 4, 0],
 [0, 2500002, 4, 0],
 [0, 2500003, 4, 0],
 [0, 2500004, 4, 0],
 [0, 2500005, 4, 0],
 [0, 2500006, 4, 0],
 [0, 2500007, 4, 0],
 [0, 2500229, 4, 0],
 [0, 2500230, 4, 0],
 [0, 2600001, 4, 0],
 [0, 2600002, 4, 1],
 [0, 2600003, 4, 0],
 [0, 2600004, 4, 0],
 [0, 2600005, 4, 0],
 [0, 2600006, 4, 0],
 [0, 2700001, 4, 1],
 [0, 2700002, 4, 1],
 [0, 2700003, 4, 1],
 [0, 2700004, 4, 0],
 [0, 2700005, 4, 1],
 [0, 2700006, 4, 0],
 [0, 2700007, 4, 0],
 [0, 2700008, 4, 1],
 [0, 2700009, 4, 0],
 [0, 2800001, 4, 2],
 [0, 2800090, 4, 0],
 [0, 2800101, 4, 0],
 [0, 2800103, 4, 0],
 [0, 2900001, 4, 0],
 [0, 2900002, 4, 0],
 [0, 2900003, 4, 0],
 [0, 2900075, 4, 0],
 [0, 3000001, 4, 7],
 [0, 3000002, 4, 1],
 [0, 3100001, 4, 0],
 [0, 3200001, 4, 0],
 [0, 3200026, 4, 0],
 [0, 3300001, 4, 0],
 [0, 3400001, 4, 0],
 [0, 3400002, 4, 0],
 [0, 3400003, 4, 3],
 [0, 3500001, 4, 0],
 [0, 1000001, 5, 2],
 [0, 1000002, 5, 0],
 [0, 1000003, 5, 0],
 [0, 1000004, 5, 0],
 [0, 1000005, 5, 0],
 [0, 1000006, 5, 0],
 [0, 1000007, 5, 1],
 [0, 1000008, 5, 0],
 [0, 1000009, 5, 0],
 [0, 1000010, 5, 0],
 [0, 1000011, 5, 0],
 [0, 1002291, 5, 0],
 [0, 1002377, 5, 0],
 [0, 1002503, 5, 0],
 [0, 1002582, 5, 0],
 [0, 1100001, 5, 0],
 [0, 1100002, 5, 0],
 [0, 1200001, 5, 0],
 [0, 1200002, 5, 2],
 [0, 1200003, 5, 0],
 [0, 1200004, 5, 0],
 [0, 1200005, 5, 0],
 [0, 1200006, 5, 0],
 [0, 1200007, 5, 0],
 [0, 1200008, 5, 1],
 [0, 1200009, 5, 1],
 [0, 1200010, 5, 0],
 [0, 1200011, 5, 0],
 [0, 1200012, 5, 1],
 [0, 1200013, 5, 0],
 [0, 1200014, 5, 0],
 [0, 1200015, 5, 0],
 [0, 1200016, 5, 1],
 [0, 1200017, 5, 1],
 [0, 1200018, 5, 0],
 [0, 1200019, 5, 0],
 [0, 1200020, 5, 0],
 [0, 1200021, 5, 1],
 [0, 1200022, 5, 0],
 [0, 1200023, 5, 1],
 [0, 1200024, 5, 1],
 [0, 1200025, 5, 0],
 [0, 1200026, 5, 0],
 [0, 1200027, 5, 0],
 [0, 1200028, 5, 0],
 [0, 1200029, 5, 0],
 [0, 1200030, 5, 0],
 [0, 1200031, 5, 0],
 [0, 1200032, 5, 0],
 [0, 1200033, 5, 0],
 [0, 1200034, 5, 0],
 [0, 1200035, 5, 0],
 [0, 1200036, 5, 0],
 [0, 1200037, 5, 0],
 [0, 1200038, 5, 0],
 [0, 1200039, 5, 0],
 [0, 1200040, 5, 0],
 [0, 1201262, 5, 0],
 [0, 1201269, 5, 0],
 [0, 1300001, 5, 2],
 [0, 1300002, 5, 0],
 [0, 1400001, 5, 2],
 [0, 1400002, 5, 5],
 [0, 1400003, 5, 0],
 [0, 1400004, 5, 0],
 [0, 1400898, 5, 0],
 [0, 1500001, 5, 0],
 [0, 1600001, 5, 0],
 [0, 1600002, 5, 2],
 [0, 1600003, 5, 0],
 [0, 1600052, 5, 0],
 [0, 1600054, 5, 0],
 [0, 1700001, 5, 0],
 [0, 1700002, 5, 0],
 [0, 1700003, 5, 1],
 [0, 1700004, 5, 0],
 [0, 1700005, 5, 1],
 [0, 1700006, 5, 0],
 [0, 1700007, 5, 2],
 [0, 1700008, 5, 0],
 [0, 1700009, 5, 2],
 [0, 1700010, 5, 1],
 [0, 1700011, 5, 0],
 [0, 1700012, 5, 0],
 [0, 1700013, 5, 1],
 [0, 1700014, 5, 0],
 [0, 1700015, 5, 1],
 [0, 1700016, 5, 1],
 [0, 1700017, 5, 1],
 [0, 1700018, 5, 0],
 [0, 1700019, 5, 0],
 [0, 1800001, 5, 0],
 [0, 1800002, 5, 0],
 [0, 1800003, 5, 0],
 [0, 1800004, 5, 0],
 [0, 1800179, 5, 0],
 [0, 1900001, 5, 0],
 [0, 1900002, 5, 0],
 [0, 2000001, 5, 0],
 [0, 2000002, 5, 0],
 [0, 2000162, 5, 0],
 [0, 2100001, 5, 0],

In [112]:
# 月・店舗・商品ごと売上個数で新しいデータフレームを作成

df_train_new = pd.DataFrame(list_months_shop_id_sum,
                            columns=["Months", "商品ID", "店舗ID", "売上個数"]
                            )

In [115]:
df_train_new = df_train_new.reset_index(drop=True)

(67320, 4)