In [48]:
import pandas as pd
import numpy as np
import ydata_profiling as yp
import datetime as dt
import sklearn
from tqdm.notebook import trange

In [49]:
df_train = pd.read_csv("sales_history.csv")
df_test = pd.read_csv("test_origin.csv")
df_test = df_test.drop(columns='index')

In [50]:
# 予測する商品IDをテストデータから取得
items_id = df_test.iloc[:, 0].unique()

# 予測する商品IDが含まれる行を抽出
df_train = df_train[df_train.iloc[:, 2].isin(items_id)]

In [51]:
# 日付をDateTime型に変換
def ToDate(row):
    
    row.iloc[0] = dt.datetime.strptime(row.iloc[0], '%Y-%m-%d')
    row.iloc[0] = row.iloc[0].date()

    return row


df_train = df_train.apply(ToDate, axis=1)

In [52]:
# 売上個数をintに変換
df_train["売上個数"] = df_train["売上個数"].astype('int')

In [53]:
df_train

                 日付  店舗ID     商品ID  商品価格  売上個数
0        2018-01-01     9  1000001   420     1
1        2018-01-01     6  1000001   420     1
2        2018-01-01    10  1000001   420     1
364      2018-01-01     0  1200007   250     1
365      2018-01-01    15  1200007   130     1
...             ...   ...      ...   ...   ...
1119551  2019-10-31     0  3200026   850     1
1119553  2019-10-31    10  3300001  2040     1
1119562  2019-10-31    15  3400002  1440     1
1119563  2019-10-31    17  3400003  1190     1
1119568  2019-10-31     4  3500001   340     1

[48221 rows x 5 columns]

In [54]:
# "Month"列を追加
df_train.insert(1, "Month", 0)


def AddMonth(row):

    month = row[0].month
    row.iloc[1] = int(month)
    return row

df_train = df_train.apply(AddMonth, axis=1)

In [55]:
# "Months"列を追加
df_train.insert(2, "Months", 0)

t1 = dt.date(year=2018, month=1, day=1)


def AddMonths(row):

    months = abs(row[0].year - t1.year)*12 + (row[0].month - t1.month)
    row.iloc[2] = int(months)
    return row

df_train = df_train.apply(AddMonths, axis=1)

In [56]:
# 月・店舗・商品ごとに商品価格の平均と売上個数合計を計算しリストに追加

list_month_shopID_itemID_MeanPrice_n = []

for m in trange(22):
    for s in trange(18):
        for i in items_id:
            list = []
            MeanPrice = df_train.loc[(df_train["Months"]==m) & (df_train["店舗ID"]==s) & (df_train["商品ID"]==i), "商品価格"].mean()
            n = df_train.loc[(df_train["Months"]==m) & (df_train["店舗ID"]==s) & (df_train["商品ID"]==i), "売上個数"].sum()
            list.append(m)
            list.append(s)
            list.append(i)
            list.append(MeanPrice)
            list.append(n)
            list_month_shopID_itemID_MeanPrice_n.append(list)

  0%|          | 0/22 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

In [57]:
df_train = pd.DataFrame(list_month_shopID_itemID_MeanPrice_n,
                            columns=["Months", "shopID", "itemID", "MeanPrice", "n"]
                            )

In [65]:
df_train

       Months  shopID     itemID  MeanPrice    n
0         0.0     0.0  1000001.0      420.0  6.0
1         0.0     0.0  1000002.0      250.0  2.0
2         0.0     0.0  1000003.0        NaN  0.0
3         0.0     0.0  1000004.0      120.0  1.0
4         0.0     0.0  1000005.0      220.0  8.0
...       ...     ...        ...        ...  ...
67315    21.0    17.0  3300001.0        NaN  0.0
67316    21.0    17.0  3400001.0      850.0  1.0
67317    21.0    17.0  3400002.0        NaN  0.0
67318    21.0    17.0  3400003.0     1190.0  2.0
67319    21.0    17.0  3500001.0        NaN  0.0

[67320 rows x 5 columns]

In [61]:
meanprice_dic = {}

for i in items_id:
    meanprice = df_train.loc[(df_train["itemID"]==i), "MeanPrice"].mean()
    meanprice_dic[i] = meanprice

In [62]:
meanprice_dic

{1000001: 363.369708994709,
 1000002: 237.51288659793815,
 1000003: 226.9418960244648,
 1000004: 221.49193548387098,
 1000005: 245.84453781512605,
 1000006: 244.25837320574163,
 1000007: 241.3551401869159,
 1000008: 244.73333333333332,
 1000009: 222.8421052631579,
 1000010: 330.1928104575163,
 1000011: 243.59375,
 1002291: 411.3731380168388,
 1002377: 355.7831325301205,
 1002503: 341.49122807017545,
 1002582: 668.8386939472399,
 1100001: 422.42592592592587,
 1100002: 167.35185566067918,
 1200001: 508.37632275132273,
 1200002: 535.7174603174603,
 1200003: 493.0416666666667,
 1200004: 504.1940867906533,
 1200005: 266.4240506329114,
 1200006: 335.93283582089555,
 1200007: 291.33088118968516,
 1200008: 290.6962351727695,
 1200009: 292.90579710144925,
 1200010: 242.14285714285714,
 1200011: 442.5261869799314,
 1200012: 490.82062825130055,
 1200013: 503.10144927536237,
 1200014: 501.3157894736842,
 1200015: 326.62017167381975,
 1200016: 288.3773408239701,
 1200017: 337.0987654320988,
 1200018: 328.0813953488372,
 1200019: 503.1868365180467,
 1200020: 296.098696461825,
 1200021: 503.97491039426524,
 1200022: 499.1842105263158,
 1200023: 502.0028011204481,
 1200024: 502.45215311004785,
 1200025: 504.6990351696235,
 1200026: 332.4731182795699,
 1200027: 333.0914634146341,
 1200028: 418.35164835164835,
 1200029: 325.9047619047619,
 1200030: 508.0701754385965,
 1200031: 332.2740963855422,
 1200032: 672.1782178217821,
 1200033: 480.4066666666667,
 1200034: 907.1254681647939,
 1200035: 914.3956043956044,
 1200036: 500.70436507936506,
 1200037: 3603.9240506329115,
 1200038: 331.1931818181818,
 1200039: 336.38655462184875,
 1200040: 501.125,
 1201262: 582.430176565008,
 1201269: 499.8148148148149,
 1300001: 1719.1372150756035,
 1300002: 1733.960396039604,
 1400001: 785.2370689655172,
 1400002: 781.4562841530054,
 1400003: 494.3243243243243,
 1400004: 311.9879518072289,
 1400898: 691.8508771929825,
 1500001: 2404.4791666666665,
 1600001: 551.705298013245,
 1600002: 528.5585377585378,
 1600003: 501.9269640447272,
 1600052: 711.8181818181819,
 1600054: 585.1082949308756,
 1700001: 1686.0782556750298,
 1700002: 287.37068965517244,
 1700003: 2006.6429786200192,
 1700004: 1673.4883720930231,
 1700005: 1684.55,
 1700006: 144.16666666666666,
 1700007: 1094.198113207547,
 1700008: 146.95987654320987,
 1700009: 1426.3621794871797,
 1700010: 1682.5352112676057,
 1700011: 1411.7894736842106,
 1700012: 933.1578947368421,
 1700013: 1348.3644859813085,
 1700014: 1451.9014084507041,
 1700015: 937.8761061946902,
 1700016: 1427.8484848484848,
 1700017: 1273.5454545454545,
 1700018: 2089.13612565445,
 1700019: 1680.379746835443,
 1800001: 2727.148387096774,
 1800002: 1358.5887096774193,
 1800003: 2409.9784946236555,
 1800004: 1234.877192982456,
 1800179: 1766.1842105263158,
 1900001: 2862.875,
 1900002: 1999.4736842105262,
 2000001: 419.96794871794873,
 2000002: 390.8125,
 2000162: 1657.0943060387287,
 2100001: 922.6609848484848,
 2100002: 934.807881773399,
 2100003: 1022.2222222222222,
 2100004: 1802.756666666667,
 2100005: 1134.642857142857,
 2100006: 1878.8536585365853,
 2100152: 1377.2597597597598,
 2200001: 1593.650980392157,
 2300001: 3301.29730325399,
 2300002: 4684.11889596603,
 2300003: 1171.75,
 2300004: 1117.2289156626507,
 2400001: 2645.025143678161,
 2400002: 2534.44384057971,
 2400003: 1101.5106382978724,
 2400004: 1224.940170940171,
 2400005: 2020.7648401826482,
 2400006: 1122.622641509434,
 2400007: 991.8550724637682,
 2400008: 2194.3809523809527,
 2400009: 1321.2739965095989,
 2400010: 2137.44966442953,
 2400011: 3370.3547008547007,
 2400012: 1987.4279835390948,
 2400013: 1680.6985294117646,
 2400014: 3351.9675925925926,
 2400088: 2071.551851851852,
 2500001: 492.9166666666667,
 2500002: 403.1081081081081,
 2500003: 495.1851851851852,
 2500004: 487.94520547945206,
 2500005: 492.67113095238096,
 2500006: 437.5925925925926,
 2500007: 485.2857142857143,
 2500229: 470.8510638297872,
 2500230: 505.0,
 2600001: 2231.4451901565994,
 2600002: 3072.8612716763005,
 2600003: 2516.890380313199,
 2600004: 1681.0446859903382,
 2600005: 999.5074257425742,
 2600006: 2504.5631067961167,
 2700001: 410.63380281690144,
 2700002: 416.4102564102564,
 2700003: 407.5301204819277,
 2700004: 410.6265664160401,
 2700005: 403.8562091503268,
 2700006: 507.0689655172414,
 2700007: 571.8269230769231,
 2700008: 579.7058823529412,
 2700009: 420.0,
 2800001: 1169.4994395121514,
 2800090: 5065.214521452145,
 2800101: 680.0,
 2800103: 571.9636363636364,
 2900001: 1092.1339220014718,
 2900002: 1017.5355392156863,
 2900003: 1044.0488505747126,
 2900075: 589.9420289855072,
 3000001: 597.5490196078431,
 3000002: 680.0,
 3100001: 1087.1703296703297,
 3200001: 3922.566666666666,
 3200026: 750.8480128893663,
 3300001: 1775.9523809523807,
 3400001: 861.9488243430153,
 3400002: 1672.4555206698062,
 3400003: 1143.567233060625,
 3500001: 416.06382978723406}

In [64]:
def MeanPrice(row):

    if row[3] == "NaN":
        row[3] = meanprice_dic[row[2]]
    else:
        pass

    return row

df_train = df_train.apply(MeanPrice, axis=1)